In [1]:
import pandas as pd

In [2]:
file = "./IRCdata/IRCdata/holdem.199504/holdem.199504/holdem/199504/hdb"

In [4]:
csv = pd.read_csv(file, sep=" +", header=None,names=['hand_num','table_num','table_hand','num_players','pre_flop','flop','turn', 'river','card_1','card_2','card_3','card_4','card_5'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [5]:
csv.head()

,hand_num,table_num,table_hand,num_players,pre_flop,flop,turn,river,card_1,card_2,card_3,card_4,card_5
0,797210868,1,192,9,2/20,2/40,2/80,2/120,Qc,Ks,8s,Jh,Tc
1,797210948,1,193,8,3/70,2/90,2/130,2/210,5c,Tc,Ah,5s,2s
2,797211062,1,194,8,2/50,2/70,2/110,2/150,5c,9c,Kd,Qs,8h
3,797211160,1,195,7,2/20,0/0,0/0,1/30,Td,9c,Ad,None,None
4,797211251,1,196,7,4/85,2/125,2/165,2/205,5s,Ts,4s,Jc,2d

In [7]:
csv.to_csv('hdb.csv', index=False, header=False)