In [1]:
import pandas as pd

In [2]:
file = "./IRCdata/IRCdata/holdem.199504/holdem.199504/holdem/199504/hroster"

In [3]:
csv = pd.read_csv(file, sep=" +", header=None,names=['hand_id','num_players','player_1','player_2','player_3','player_4','player_5','player_6','player_7','player_8','player_9','player_10','player_11','player_12'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [4]:
csv.head()

,hand_id,num_players,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,player_10,player_11,player_12
0,797210868,9,Quick,Winner777,derek,greg,gunner,jims,johnr,sagerbot,shinner,None,None,None
1,797210948,8,Winner777,derek,greg,gunner,jims,johnr,sagerbot,shinner,None,None,None,None
2,797211062,8,Winner777,deadhead,derek,greg,gunner,jims,sagerbot,shinner,None,None,None,None
3,797211160,7,deadhead,derek,greg,gunner,jims,sagerbot,shinner,None,None,None,None,None
4,797211251,7,deadhead,derek,greg,gunner,jims,sagerbot,shinner,None,None,None,None,None

In [5]:
csv.to_csv('hroster.csv', index=False, header=False)